.events-container {
  padding: 3em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 10px 20px;
}

.events-container .event:first-child {
  min-width: 100px;
}

.events-container .event > a.event-button {
  display: block;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.events-container .event > a.event-button:hover {
  background-color: blue;
}
